<div class="row" align="center">
		<h1>Добро пожаловать на сайт Рыболовный дневник.</h1>

		<h3>
			Этот сервис создан для хранения рыболовных заметок и отчетов о рыбалках с указанием места, используемых снастей и попутных факторов (погода, состояние водоема). Возможно вы вели бумажный дневник, тогда этот сайт для вас. Здесь вы сможете продолжить свои записи, но уже в электронном виде.
		</h3>
		<div>
			<%= link_to "Регистрация", new_user_registration_path, class: "button" %>
			<%= link_to "Вход", new_user_session_path, class: "button" %>
		</div>
</div>
