<div class="row">
	<div class="center hero-unit">
		<h1>Добро пожаловать в Рыболовные записки</h1>

		<h2>
			Это главная страница
		</h2>
		<div class="center hero-unit col-md-4 col-md-offset-4">
			<%= link_to "Регистрация", "#"%>
		</div>
	</div>
</div>
