<%= search_form_for [(admin_namespace? ? 'admin' : nil), @q], class: "filter_form" do |f| %>

	<%= render 'filter_form_fields', f: f %>

  <div class="buttons">
    <%= f.submit %>
    <%= link_to t('ransack.clear'), "#", class: "clear_filters_btn"  %>
  </div>
<% end %>