<%= yield %>

<table border="0" cellspacing="0" cellpadding="0" id= "index_table_<%=plural_resource_name%>" class="index_table index" paginator="true">
	<thead>
		<tr>
			<%= yield(:table_head) %>
		</tr>
	</thead>

	<tbody>
		<%= yield(:table_body) %>
	</tbody>
</table>

