<% content_for :show_content do %>
  <%= render layout: 'layouts/resources/show_table' do %>
  		<tr class="row">
        <th><%= resource_class.human_attribute_name("name") %></th>
        <td><%= @resource.name %></td>
      </tr>
  <% end %>

  <%= render partial: 'related_resources', locals: {related_resources: @resource.related_resources} %>

<% end %>