<p>Здравствуйте <%= @email %>!</p>

<p>Для подтверждения учетной записи щелкните на ссылку:</p>

<p><%= link_to t('fishing_memories.devise.mailer.confirm_account'), confirmation_url(@resource, confirmation_token: @token) %></p>
