<p>Здравствуйте <%= @resource.email %>!</p>

<p>Ваша учетная запись была заблокирована по причине превышения количества попыток неудачного входа в систему.</p>

<p>Нажмите на ссылку для разблокирования:</p>

<p><%= link_to t('fishing_memories.devise.mailer.unlock_account'), unlock_url(@resource, unlock_token: @token) %></p>
