<div class="filter_form_field filter_string">
	<%= f.label :email %>
	<%= f.text_field :email_cont, maxlength: "255" %>
</div>

<div class="filter_form_field filter_string">
	<%= f.label :username %>
	<%= f.text_field :username_cont, maxlength: "255" %>
</div>