<div id="sidebar">
  <div class="sidebar_section panel" id="filters_sidebar_section">
    <h3><%= t('fishing_memories.sidebars.filters') %></h3>
    <div class="panel_contents">
      <%= yield %>
    </div>
  </div>
</div>