<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <span class="breadcrumb">
      <a href="#">Admin</a>            <span class="breadcrumb_sep">/</span>
    </span>
    <h2 id="page_title"><%= @resource_title %></h2>
  </div>
  <div id="titlebar_right">
    <% if @action_items && @action_items.any? %>
      <div class="action_items">
      <% @action_items.each do |item|   %>
        <span class="action_item"><%= item %></a></span>
      <% end %>
      </div>
    <% end %>
    
  </div>
</div>