<div class="title_bar" id="title_bar">
  <div id="titlebar_left">
    <%= render 'layouts/breadcrumb' %>
    <h2 id="page_title"><%= yield(:page_title) if content_for?(:page_title) %></h2>
  </div>
  <div id="titlebar_right">
  	<% if content_for?(:action_items) %>
  		<div class="action_items">
  			<%= yield(:action_items) %>
  		</div>
  	<% end %>
    
  </div>
</div>